
// Color Palette
$lapis: rgba(36, 123, 160, 1);
$green: rgba(112, 193, 179, 1);
$sea-foam: rgba(178, 219, 191, 1);
$yellow: rgba(243, 255, 189, 1);
$red: rgba(255, 22, 84, 1);
$bg: #F5F5F5;

@import url('https://fonts.googleapis.com/css?family=Roboto');
// general
body {
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
}

.navigation {
  background: #2095F2;
  padding: 12px;
}

.navigation > a:nth-child(3),
.navigation > a:nth-child(4) {
  margin-right: 12px;
}


.full-width {
  width: 100%;
}

.select {
  margin-right: 12px;
}

.right {
  float: right;
}
.inline {
  display: inline;
}
.main {
  margin: 36px;
  // prevent mobile screens from trimming off content
  padding-bottom: 100px;
}
/*
 * Project card styling for the main page
 */
.project {
  overflow: hidden;
  position: relative;
  margin: 12px;
  padding: 12px;

  background: white;
  border-radius: 6px;
  border: 2px solid $bg;

  height: 400px;
}
.details {
  height: 85%;
}
.bottom {
  height: 10%;
}
.project .title,
.preferences .title {
  font-weight: bold;
  font-size: 16px;
}

.project .title {
  text-transform: uppercase;
}

.project .stat {
  font-weight: bold;
}

textarea {
  resize: none;
}

.user-content,
.fixed-nav {
  background: white;
  border-radius: 6px;
  margin: 12px;
  padding: 12px;
}

.fixed-nav {

}
.fixed-nav > a {
  margin: 6px auto;
}
.user-content {

}

.mail-room .title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.mail-room a {
  text-decoration: none;
}

.conversation-digest {
  border: 2px solid $lapis;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 12px 0;
}

.conversation .title,
.conversation .from {
  font-weight: bold;
}

.mail {
  border: 2px solid $lapis;
  padding: 6px;
  margin: 12px 0;
}

.strong {
  font-weight: bold;
  text-decoration: underline;
}

.inbox {
  list-style-type: none;
  border: 2px solid $lapis;
  padding: 12px;
  margin: 12px;
}

.project-nav {
  text-align: center;
  padding: 12px;
  margin: 12px;
}

.project-link {
  margin: 6px;
  font-size: 16px;
}

.project-card {
  margin: 12px;
  padding: 12px;
  background: $sea-foam;
}

.project-participant {
  padding: 6px;
  border: 2px solid $lapis;
  button,
  p {
    display: inline-block;
    margin: auto 12px;
  }
}

.block-elem {
  display: block;
}


/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    //height: 31px;
    margin: 0;
    padding: 6px;
    font-size: 14px;
    width: 100%;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {

    //border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
