// colors

$color1: rgba(11, 19, 43, 1);
$color2: rgba(28, 37, 65, 1);
$color3: rgba(58, 80, 107, 1);
$color4: rgba(91, 192, 190, 1);
$color5: rgba(111, 255, 233, 1);


$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$background: #F5F5F5;

@import url('https://fonts.googleapis.com/css?family=Roboto');
// general
body {
  font-family: 'Roboto', sans-serif;
  color: #353535;
  line-height: normal;
}

/*
 * NAVBAR
 */

.navigation {
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
  height: 60px;
}

.nav-section {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-brand {
  font-family: 'Permanent Marker', cursive;;
  font-size: 2em;
  letter-spacing: 3px;
  > a {
    color: $primary-color;
    text-decoration: none;
  }
}

.nav-button {
  box-sizing: border-box;
  font-size: 1em;
  > a {
    text-decoration: none;
    color: $primary-text-color;
    padding: 5px 0 10px;
  }
  > a:hover {
    color: $primary-text-color;
    /*transition: all 0.15s ease;
    transform: translateY(3px);*/
    box-shadow: inset 0 -3px 0 0 $primary-color;

  }
}


.middle-nav {
  @extend .nav-section;
  @extend .nav-brand;
  justify-content: center;
}

/*.left-nav {
  @extend .nav-section;
  @extend .nav-button;
}*/

.right-nav, .left-nav {
  @extend .nav-section;
  @extend .nav-button;
  justify-content: space-around;
}

/*
 * Profile
 */


/*
 * Projects
 */

/*
 * General
 */

.full-width {
  width: 100%;
}

.select {
  margin-right: 12px;
}

.right {
  float: right;
}
.inline {
  display: inline;
}
.main {
  margin: 36px;
  // prevent mobile screens from trimming off content
  padding-bottom: 100px;
}

.strong {
  font-weight: bold;
  text-decoration: underline;
}

/*
 * Project card styling for the main page
 */
.project {
  overflow: hidden;
  position: relative;
  margin: 12px;
  padding: 12px;

  background: white;
  border-radius: 6px;
  border: 2px solid $background;

  height: 400px;
}
.details {
  height: 85%;
}
.bottom {
  height: 10%;
}
.project .title,
.preferences .title {
  font-weight: bold;
  font-size: 16px;
}

.project .title {
  text-transform: uppercase;
}

.project .stat {
  font-weight: bold;
}

textarea {
  resize: none;
}

.user-content,
.fixed-nav {
  background: white;
  border-radius: 6px;
  margin: 12px;
  padding: 12px;
}

.fixed-nav {

}
.fixed-nav > a {
  margin: 6px auto;
}
.user-content {

}

.mail-room .title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.mail-room a {
  text-decoration: none;
}

.conversation-digest {
  border: 2px solid ;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 12px 0;
}

.conversation .title,
.conversation .from {
  font-weight: bold;
}

.mail {
  border: 2px solid $color4;
  padding: 6px;
  margin: 12px 0;
}


.inbox {
  list-style-type: none;
  border: 2px solid $color4;
  padding: 12px;
  margin: 12px;
}

.project-nav {
  text-align: center;
  padding: 12px;
  margin: 12px;
}

.project-link {
  margin: 6px;
  font-size: 16px;
}

.project-card {
  margin: 12px;
  padding: 12px;
  background: $primary-color-light;
}

.project-participant {
  padding: 6px;
  border: 2px solid $color4;
  button,
  p {
    display: inline-block;
    margin: auto 12px;
  }
}

.block-elem {
  display: block;
}


/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    //height: 31px;
    margin: 0;
    padding: 6px;
    font-size: 14px;
    width: 100%;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {

    //border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
    background: #b7cfe0;
    cursor: pointer;
}
